<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    <div class="panel">
      <div class="text-center">
        <h1>Edit Post</h1>
      </div>
      <hr>
      <%= render 'form' %>

    </div>
  </div>
</div>
