/*= require foundation */
/*= require_tree */

@import url(http://fonts.googleapis.com/css?family=Montserrat|Raleway);

.side-nav {
  padding-top: 120px;
}
// .medium-3 {
//   background-color: #018dbb;
//   width: 130px;
// }


#side-nav-blue {
  background-color: #018dbb;
  width: 25%;
  position: absolute;
  left: 0px;
  height: 100%;
  box-shadow: 1px 1px 2px #B0B0B0;
  float: left;
  z-index: 0;
}

.medium-9 {
  z-index: 0;
  float: right;
}

body{
  height: 100%;
}



.side-nav li a:not(.button) {
  color: #FFFFFF;
  // width: 200px;
  // text-align: left;
  // margin: 0 0 0 20px;
  padding: 10px 0 0 67%;

}

.contain-to-grid{
  box-shadow: 1px 1px 5px #888888;
}


li.errors {
  color: #F6EFEE;
}

.panel {
  margin-top: 50px;
}

.panel.code {
  margin-top: 0px;
}

.header {
  padding-top: 50px;
  padding-left: 150px;
}

.button a {
  font-family: 'Raleway', sans-serif;
  color: #F6EFEE;
}

.likeh {
  display: inline-block;
}

.head {
  margin-top: 50px;
  display: inline-block;
}

.new {
  margin-top: 60px;
  float: right;
  display: inline-block;
}

.edit {
  float: right;
  display: inline-block;
}

.button-group > li .button {
  margin-left: 20px;
  border-left: 20px solid;
}

.tags {
  padding-left: 40px;
  display: inline-block;
  word-spacing: 40px;
  font-family: 'Raleway', sans-serif;

}

.time {
  display: inline-block;
  opacity: 0.5;
}

.likes {
  float: right;
  display: inline-block;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

a {
  font-family: 'Raleway', sans-serif;
}

li {
  font-family: 'Raleway', sans-serif;
}

.alert-text {
  margin: 0 0 0 390px;
  width: 500px;
}
