/*= require foundation */
/*= require_tree */

@import url(http://fonts.googleapis.com/css?family=Montserrat|Raleway);
@import 'foundation-icons';

.side-nav {
  padding-top: 40px;
}
// .medium-3 {
//   background-color: #018dbb;
//   width: 130px;
// }


#side-nav-blue {
  background-color: #018dbb;
  width: 25%;
  position: fixed;
  left: 0px;
  height: 100%;
  box-shadow: 1px 1px 2px #B0B0B0;
  float: left;
  z-index: 0;
}

.medium-9 {
  z-index: 0;
  float: right;
}

.row {
  height: 100%;
}

body{
  height: 100%;
}



.side-nav li a:not(.button) {
  color: #FFFFFF;
  padding: 10px 0 0 67%;

}

.contain-to-grid{
  box-shadow: 1px 1px 5px #888888;
}


li.errors {
  color: #F6EFEE;
}

.panel {
  margin-top: 10px;
}

.panel.code {
  margin-top: 0px;
  max-width: 800px;
  overflow: auto;
}


.header {
  padding-top: 50px;
  padding-left: 150px;
}

.button a {
  font-family: 'Raleway', sans-serif;
  color: #F6EFEE;
}

.likeh {
  float: right;
  display: inline-block;
  margin: 15px 10px 0 0;
}

.likes {
  float: right;
  display: inline-block;
}

.head {
  display: inline-block;

}

.new {
  margin-top: 60px;
  float: right;
  display: inline-block;
}

.edit {
  float: right;
  display: inline-block;
}

.button-group > li .button {
  margin-left: 20px;
  border-left: 20px solid;
}

.tags {
  // padding-left: 40px;
  display: inline-block;
  word-spacing: 1px;
  font-family: 'Raleway', sans-serif;

}

.tag {
  background-color: orange;
  display: inline-block;
  color: white;
  padding: 5px 10px 5px 10px;
  margin: 0 0 10px 0;
}

.tag-icon {
  display: inline-block;
  padding: 0 10px 0 10px;
  margin: 1px 0 10px 0;
  color: #919191;
  background-color: #D5D5D5;
  height: 35px;
}

.time {
  display: inline-block;
  opacity: 0.5;
}

.posted-by {
  display: inline-block;
  opacity: 0.5;
  padding: 0 0 0 15px;

}

#likes-button {
  background: orange;
}

ul {
  list-style-type: none;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

a {
  font-family: 'Raleway', sans-serif;
}

li {
  font-family: 'Raleway', sans-serif;
}

.alert-text {
  margin: 0 0 0 390px;
  width: 500px;
}

.alert-box {
  border-width: 0px;
}

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

.like-list li {
  display: inline-block;
  float: right;
}

.titles {
  color: #919191;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#gray-liked {
  color: #919191;
}
